# Application Settings
BASE_URL=http://localhost:8080/dashboard

# User Credentials
ADMIN_USER=admin
ADMIN_PASSWORD=admin

# Playwright Browser Settings
# Set to "false" to see the browser, "true" to run headlessly
HEADLESS=false
# Delay in milliseconds between Playwright actions (e.g., 250)
SLOW_MO=100
NUMBER_OF_TASKS=50